<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /


  # Redirigir a HTTPS si la extensión del dominio no es .test
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} !\.test$ [NC]
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
